
@{ var Lst = ViewBag.manga as List<crawldataweb.Models.manga>;
    var high = ViewBag.highView as List<crawldataweb.Models.manga>;}

<!-- Hero Section End -->
<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Thịnh hành</h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        @foreach (var item in Lst)
                        {
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="@item.image">
                                        <div class="ep">@item.chap</div>

                                        <div class="view"><i class="fa fa-eye"> @item.views</i></div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>

                                            <li><a href=" @Url.Action("Category", "Home", new { id = item.category_id })">@item.Category.name</a> </li>
                                            <li><a href="/tim-kiem?KeyWord=@item.author">@item.author</a></li>
                                        </ul>
                                        <h5><a href="@Url.Action("manga","home", new { id = item.id})">@item.name</a></h5>
                                    </div>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <h5>Top Views</h5>
                        </div>
                       
                        <div class="filter__gallery">
                            @foreach (var i in high)
                            {
                                <div class="product__sidebar__view__item set-bg mix day years"
                                     data-setbg="@i.image">
                                    <div class="ep">@i.chap</div>
                                    <div class="view"><i class="fa fa-eye"></i> @i.views</div>
                                    <h5> <a href="@i.url/@i.id"  style="color:black">@i.name</a></h5>
                                </div>
                            }
                          

                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->
